{% extends "main_template.html" %}
{% load static from staticfiles %}

{% block content %}
<link href="{% static "js/fullcalendar/bootstrap-fullcalendar.css" %}"rel="stylesheet" />


    <!--calendar-->
    <link href="{% static "js/fullcalendar/bootstrap-fullcalendar.css" %}" rel="stylesheet" />
    <!--common style-->

    <!--calendar-->
    <aside class="col-lg-0"></aside>
    <aside class="col-lg-12">
    <div>
        <section class="panel">
            <div class="panel-body">
                <div id="leavecalendar" class="has-toolbar"></div>
            </div>
        </section>
    </div>
    </aside>

    <script src="{% static "js/fullcalendar/fullcalendar.min.js"%}"></script>
<!--calendar-->
<script src="{% static "js/fullcalendar/fullcalendar.min.js"%}"></script>


{% endblock %}