{% extends 'main_template.html' %}
{% block content %}
<form class="form-horizontal" action="/create_ticket_admin/" method="post">{% csrf_token %}
<fieldset>

<!-- Form Name -->
    <legend>Requester Details (Admin)</legend>
    <div class="row">
        <label class="col-md-2 control-label" for="textinput">Requester Name</label>
          <div class="col-md-3">
          <input id="textinput" name="textinput" type="text" placeholder="Requester Name" class="form-control input-md">
          </div>
    </div>
    </br>
     <div class="row">
        <label class="col-md-2 control-label" for="textinput">E-Mail</label>
          <div class="col-md-2">
          <input id="textinput" name="textinput" type="text" placeholder="E-Mail" class="form-control input-md">
          </div>

          <label class="col-md-2 control-label" for="textinput">Contact Number</label>
          <div class="col-md-2">
          <input id="textinput" name="textinput" type="text" placeholder="Contact Number" class="form-control input-md">
          </div>
    </div>
    </br>

<legend>Request Details</legend>

<!-- Text input-->

    <div class="row">
        <label class="col-md-2 control-label" for="textinput">Subject</label>
          <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" placeholder="Subject" class="form-control input-md">
          </div>
    </div>
    </br>
    <div class="row">
        <label class="col-md-2 control-label" for="textarea">Description</label>
          <div class="col-md-5">
              {% for field in forms %}
                        <div class="fieldWrapper">
                            {{ field }} {% for error in field.errors %}<error>{{ error|escape }}</error> {% endfor %}
                        </div>
              {% endfor %}

          </div>
    </div>
    </br>

    <div class="row">

      <label class="col-md-2 control-label" for="selectbasic">Request Type</label>
      <div class="col-md-2">
        <select id="request_type" name="request_type" class="form-control">
          <option value="1">Upgrade/Service</option>
          <option value="2">Repair/Maintenence</option>
          <option value="3">New Request</option>
        </select>
      </div>

        <label class="col-md-1 control-label" for="selectbasic">Status</label>
      <div class="col-md-2">
        <select id="status" name="status" class="form-control">
            <option value="1">Open</option>
            <option value="2">Resloved</option>
            <option value="3">On Hold</option>
            <option value="4">Postpone</option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
    <label class="col-md-2 control-label" for="selectbasic">Impact</label>
      <div class="col-md-2">
        <select id="impact" name="impact" class="form-control">
            <option value="1">High</option>
            <option value="2">Normal</option>
            <option value="3">Medium</option>
            <option value="4">Low</option>
        </select>
      </div>

        <label class="col-md-1 control-label" for="selectbasic">Urgency</label>
      <div class="col-md-2">
        <select id="impact" name="impact" class="form-control">
            <option value="1">High</option>
            <option value="2">Normal</option>
            <option value="3">Medium</option>
            <option value="4">Low</option>
        </select>
      </div>
    </div>
    </br>
    <div class="row">
        <label class="col-md-2 control-label" for="selectbasic">Mode</label>
      <div class="col-md-2">
        <select id="impact" name="impact" class="form-control">
            <option value="1">Web-Form</option>
            <option value="2">Walk-in</option>
            <option value="3">Call</option>
            <option value="4">Instant-Messaging</option>
        </select>
      </div>
          <label class="col-md-1 control-label" for="selectbasic">Technical Team</label>
      <div class="col-md-2">
        <select id="impact" name="impact" class="form-control">
            <option value="1">Information System</option>
            <option value="2">System Admin</option>
            <option value="3">Networking Admin</option>
            <option value="4">Cloud Admin</option>
        </select>
      </div>

    </div>






<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-2 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success" type="submit">Submit</button>
    <button id="button2id" name="button2id" class="btn btn-danger" type="reset">Cancel</button>
  </div>
</div>

</fieldset>
</form>
{% endblock %}