{% extends 'main_template.html' %}
{% block content %}
<form class="form-horizontal" action="/create_ticket/" method="post">{% csrf_token %}
<fieldset>

<!-- Form Name -->
    <legend>Requester Details (Admin)</legend>
    <div class="row">
        <label class="col-md-2 control-label" for="textinput">Requester Name</label>
          <div class="col-md-3">
          <input id="textinput" name="textinput" type="text" placeholder="Requester Name" class="form-control input-md">
          </div>
    </div>
    </br>
     <div class="row">
        <label class="col-md-2 control-label" for="textinput">E-Mail</label>
          <div class="col-md-2">
          {{ forms.email }}
          </div>

          <label class="col-md-2 control-label" for="textinput">Contact Number</label>
          <div class="col-md-2">
          {{ forms.contact }}
          </div>
    </div>
    </br>

<legend>Request Details</legend>

<!-- Text input-->

    <div class="row">
        <label class="col-md-2 control-label" for="textinput">Subject</label>
          <div class="col-md-4">
          {{ forms.subject }}
          </div>
    </div>
    </br>
    <div class="row">
        <label class="col-md-2 control-label" for="textarea">Description</label>
{% comment %}        <div class="panel-body">
                        <textarea class="wysihtml5 form-control" rows="9"></textarea>
        </div>{% endcomment %}
          <div class="col-md-5">
          {{ forms.description }}
          </div>
    </div>

    </br>

    <div class="row">

      <label class="col-md-2 control-label" for="selectbasic">Request Type</label>
      <div class="col-md-2">
        {{ forms.request_type }}
      </div>

        <label class="col-md-1 control-label" for="selectbasic">Status</label>
      <div class="col-md-2">
       {{ forms.status }}
      </div>
    </div>
    </br>
    <div class="row">
    <label class="col-md-2 control-label" for="selectbasic">Impact</label>
      <div class="col-md-2">
        {{ forms.impact }}
      </div>

        <label class="col-md-1 control-label" for="selectbasic">Urgency</label>
      <div class="col-md-2">
        {{ forms.urgency }}
      </div>
    </div>
    </br>
    <div class="row">
        <label class="col-md-2 control-label" for="selectbasic">Mode</label>
      <div class="col-md-2">
        {{ forms.mode }}
      </div>
          <label class="col-md-1 control-label" for="selectbasic">Technical Team</label>
      <div class="col-md-2">
        {{ forms.team }}
      </div>

    </div>






<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-2 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success" type="submit">Submit</button>
    <button id="button2id" name="button2id" class="btn btn-danger" type="reset">Cancel</button>
  </div>
</div>

</fieldset>
</form>

{% endblock %}
<script>

    jQuery(document).ready(function(){
        $('.wysihtml5').wysihtml5();

        $('.summernote').summernote({
            height: 200,                 // set editor height

            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor

            focus: true                 // set focus to editable area after initializing summernote
        });
    });

</script>