<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="slick, flat, dashboard, bootstrap, admin, template, theme, responsive, fluid, retina">

    {% load static from staticfiles %}
    {% load humanize %}

    <link rel="shortcut icon" href="{% static "images/ico/favicon.png"%}">

    <title>{% block title %}{{ template_title }}{% endblock %}</title>

    <!--right slidebar-->
    <link href="{% static "css/slidebars.css" %}"rel="stylesheet">

    <!--switchery-->
    <link href="{% static "js/switchery/switchery.min.css"%}" rel="stylesheet" type="text/css" media="screen" />

    <!--common style-->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">

    <!--Data Table-->
    <link href="{% static "js/data-table/css/jquery.dataTables.css"%}" rel="stylesheet">
    <link href="{% static "js/data-table/css/dataTables.tableTools.css"%}" rel="stylesheet">
    <link href="{% static "js/data-table/css/dataTables.colVis.min.css"%}" rel="stylesheet">
    <link href="{% static "js/data-table/css/dataTables.responsive.css"%}" rel="stylesheet">
    <link href="{% static "js/data-table/css/dataTables.scroller.css"%}" rel="stylesheet">

        <!--bootstrap-wysihtml5-->
    <link rel="stylesheet" type="text/css" href={% static "js/bootstrap-wysihtml5/bootstrap-wysihtml5.css" %}/>

    <!-- include libraries(jQuery, bootstrap) -->
    <link href={% static "http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"%} rel="stylesheet">
    <script src={% static "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"%}></script>
    <script src={% static "http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"%}></script>

    <!-- include summernote css/js-->
    <link href={% static "http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css"%} rel="stylesheet">
    <script src={% static "http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"%}></script>
    <!--  summernote -->
    <link href={% static "js/summernote/dist/summernote.css"%} rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js"%}"></script>
    <script src="{% static "js/respond.min.js"%}"></script>
    <![endif]-->
</head>

<body class="sticky-header">

    <section>
        <!-- sidebar left start-->
        <div class="sidebar-left">
            <!--responsive view logo start-->
            <div class="logo dark-logo-bg visible-xs-* visible-sm-*">
                <a href="/login/">
                    <img src="{% static "images/logo-icon.png"%}" alt="icon">
                    <!--<i class="fa fa-maxcdn"></i>-->
                    <span class="brand-name">JD Desk</span>
                </a>
            </div>
            <!--responsive view logo end-->

            <div class="sidebar-left-info">
                <!-- visible small devices start-->
                <div class=" search-field">  </div>
                <!-- visible small devices end-->

                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked side-navigation">
                    <li>
                        <h3 class="navigation-title">Helpdesk</h3>
                    </li>
                    <li><a href="/dashboard/"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
                  <li class="menu-list"><a href=""><i class="fa fa-ticket"></i> <span>Tickets <span class="badge noti-arrow bg-success pull-right"></span></span></a>
                        <ul class="child-list">
                            <li><a href="/create_ticket/"> Create New Ticket</a></li>
                            <li><a href="/ticket_directory/"> Search Ticket</a></li>
                        </ul>
                    </li>
                        <h3 class="navigation-title">Management</h3>
                    </li>
                    <li class="menu-list"><a href=""><i class="fa fa-users"></i> <span>Users <span class="badge noti-arrow bg-success pull-right"></span> </span></a>
                        <ul class="child-list">
                            <li><a href="/profile_edit/{{ user.id }}"> Users Directory</a></li>
                            <li><a href="calendar.html"> Organizations</a></li>
                        </ul>
                    </li>
                     <li class="menu-list"><a href=""><i class="fa fa-calendar"></i> <span>Leave <span class="badge noti-arrow bg-success pull-right"></span> </span></a>
                        <ul class="child-list">
                            <li><a href="/leave_list/" > Leave List </a></li>

                            <li><a href="/calander/"> Leave Calander</a></li>
                        </ul>
                    </li>

                    <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>Tasks</span></a>
                        <ul class="child-list">
                            <li><a href="/agent_dashboard/"> Tasks</a></li>
                        </ul>
                    </li>

                    <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>Reports</span></a>
                        <ul class="child-list">
                            <li><a href="flot-chart.html"> Incident Reports</a></li>
                            <li><a href="morris-chart.html"> Request Reports</a></li>
                            <li><a href="chartjs.html"> Agent Reports</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="navigation-title">Extra</h3>
                    </li>

                    <li class="menu-list"><a href="javascript:;"><i class="fa fa-envelope-o"></i> <span>Email <span class="label noti-arrow bg-danger pull-right">4 Unread</span> </span></a>
                        <ul class="child-list">
                            <li><a href="inbox.html"> Inbox</a></li>
                            <li><a href="inbox-details.html"> View Mail</a></li>
                            <li><a href="inbox-compose.html"> Compose Mail</a></li>
                        </ul>
                    </li>

                    <li class="menu-list"><a href="javascript:;"><i class="fa fa-map-marker"></i> <span>Maps</span></a>
                        <ul class="child-list">
                            <li><a href="/googleMaps/"> Google Map</a></li>
                            <li><a href="vector-map.html"> Vector Map</a></li>
                        </ul>
                    </li>

                </ul>
                <!--sidebar nav end-->

                <!--sidebar widget start-->
                <div class="sidebar-widget">
                    <h4>Server Status</h4>
                    <ul class="list-group">
                        <li>
                            <span class="label label-danger pull-right">90%</span>
                            <p>CPU Used</p>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-danger" style="width: 33%;">
                                    <span class="sr-only">90%</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="label label-warning pull-right">65%</span>
                            <p>Bandwidth</p>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-warning" style="width: 65%;">
                                    <span class="sr-only">65%</span>
                                </div>
                            </div>
                        </li>
                        <li><a href="javascript:;" class="btn btn-success btn-sm ">View Details</a></li>
                    </ul>
                </div>
                <!--sidebar widget end-->

            </div>
        </div>
        <!-- sidebar left end-->

        <!-- body content start-->
        <div class="body-content" style="min-height: 1200px;">

            <!-- header section start-->
            <div class="header-section">

                <!--logo and logo icon start-->
                <div class="logo dark-logo-bg hidden-xs hidden-sm">
                    <a href="/dashboard/">
                        <img src="{% static "images/logo-icon.png"%}" alt="">
                        <!--<i class="fa fa-maxcdn"></i>-->
                        <span class="brand-name">J&D HelpDesk</span>
                    </a>
                </div>

                <div class="icon-logo dark-logo-bg hidden-xs hidden-sm">
                    <a href="homePage.html">
                        <img src="{% static "images/logo-icon.png"%}" alt="">
                        <!--<i class="fa fa-maxcdn"></i>-->
                    </a>
                </div>
                <!--logo and logo icon end-->

                <!--toggle button start-->
                <a class="toggle-btn"><i class="fa fa-outdent"></i></a>
                <!--toggle button end-->
                <div class="notification-wrap">
                <!--left notification start-->
                <div class="left-notification">
                <ul class="notification-menu">
                <!--mail info start-->
                <li class="d-none">
                    <a href="javascript:;" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-primary">6</span>
                    </a>

                    <div class="dropdown-menu dropdown-title">
                        <div class="title-row">
                            <h5 class="title purple">
                                You have 6 Unread Mail
                            </h5>
                            <a href="javascript:;" class="btn-primary btn-view-all">View all</a>
                        </div>
                        <div class="notification-list mail-list">
                            <a href="javascript:;" class="single-mail">
                                <span class="icon bg-primary">
                                    S
                                </span>
                                <strong>Smith Doe</strong>
                                <small> Just Now</small>
                                <p>
                                    <small>Hello smith i have some query about your</small>
                                </p>
                                <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
                                    <i class="fa fa-circle"></i>
                                </span>
                            </a>
                            <a href="javascript:;" class="single-mail">
                                <span class="icon bg-success">
                                    A
                                </span>
                                <strong>Anthony Jones </strong>
                                <small> 30 Mins Ago</small>
                                <p>
                                    <small>Hello this is an example message</small>
                                </p>
                                <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
                                    <i class="fa fa-circle"></i>
                                </span>
                            </a>
                            <a href="javascript:;" class="single-mail">
                                <span class="icon bg-warning">
                                    B
                                </span> Billy Jones
                                <small> 2 Days Ago</small>
                                <p>
                                    <small>Slicklab is awesome Dashboard</small>
                                </p>
                                <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
                                    <i class="fa fa-circle-o"></i>
                                </span>
                            </a>
                            <a href="javascript:;" class="single-mail">
                                <span class="icon bg-dark">
                                    J
                                </span> John Doe
                                <small> 1 Week Ago</small>
                                <p>
                                    <small>Build with Twitter Bootstrap 3</small>
                                </p>
                                <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
                                    <i class="fa fa-circle-o"></i>
                                </span>
                            </a>
                            <a href="javascript:;" class="single-mail">
                                <span class="icon bg-danger">
                                    S
                                </span> Smith Doe
                                <small> Just Now</small>
                                <p>
                                    <small>No hassle, very easy to use</small>
                                </p>
                                <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
                                    <i class="fa fa-circle-o"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </li>
                <!--mail info end-->

                <!--task info start-->
                <li class="d-none">
                    <a href="javascript:;" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="badge bg-success">9</span>
                    </a>

                    <div class="dropdown-menu dropdown-title">
                        <div class="title-row">
                            <h5 class="title green">
                                You have 9 task
                            </h5>
                            <a href="javascript:;" class="btn-success btn-view-all">View all</a>
                        </div>
                        <div class="notification-list task-list">
                            <a href="javascript:;">
                                <span class="icon ">
                                    <i class="fa fa-paw green-color"></i>
                                </span>
                                <span class="task-info">
                                Smith Doe
                                <small> Assigned new task 10 min ago</small>
                                    </span>
                            </a>
                            <a href="javascript:;">
                                <span class="icon ">
                                    <i class="fa fa-line-chart blue-color"></i>
                                </span>
                                <span class="task-info">Anthony Jones
                                <small> Done 60% of his task</small>

                                <div class="progress progress-striped">
                                    <div style="width: 66%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="66" role="progressbar" class="progress-bar progress-bar-info"></div>
                                </div>

                                </span>
                            </a>
                            <a href="javascript:;">
                                <span class="icon ">
                                    <i class="fa fa-heart purple-color"></i>
                                </span>
                                <span class="task-info">Tawseef
                                <small> Like your task 10 min ago</small>
                                    </span>

                            </a>
                            <a href="javascript:;">
                                <span class="icon ">
                                    <i class="fa fa-check green-color"></i>
                                </span>
                                <span class="task-info">Anjelina Gomez
                                <small>completed his task Yesterday</small>
                                    </span>
                            </a>
                            <a href="javascript:;">
                                <span class="icon ">
                                    <i class="fa fa-comments-o"></i>
                                </span>
                                <span class="task-info">Franklin Anderson
                                <small>commented on your task 3 Days ago</small>
                                </span>
                            </a>
                        </div>
                    </div>
                </li>
                <!--task info end-->

                <!--notification info start-->
                <li>
                    <a href="javascript:;" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-warning">4</span>
                    </a>

                    <div class="dropdown-menu dropdown-title ">

                        <div class="title-row">
                            <h5 class="title yellow">
                                You have 4 New Notification
                            </h5>
                            <a href="javascript:;" class="btn-warning btn-view-all">View all</a>
                        </div>
                        <div class="notification-list-scroll sidebar">
                            <div class="notification-list mail-list not-list">
                                <a href="javascript:;" class="single-mail">
                                    <span class="icon bg-primary">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                    <strong>New User Registration</strong>

                                    <p>
                                        <small>Just Now</small>
                                    </p>
                                    <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                </a>
                                <a href="javascript:;" class="single-mail">
                                    <span class="icon bg-success">
                                        <i class="fa fa-comments-o"></i>
                                    </span>
                                    <strong> Private message Send</strong>

                                    <p>
                                        <small>30 Mins Ago</small>
                                    </p>
                                    <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                </a>
                                <a href="javascript:;" class="single-mail">
                                    <span class="icon bg-warning">
                                        <i class="fa fa-warning"></i>
                                    </span> Application Error
                                    <p>
                                        <small> 2 Days Ago</small>
                                    </p>
                                    <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
                                        <i class="fa fa-circle-o"></i>
                                    </span>
                                </a>
                                <a href="javascript:;" class="single-mail">
                                    <span class="icon bg-dark">
                                       <i class="fa fa-database"></i>
                                    </span> Database Overloaded 24%
                                    <p>
                                        <small>1 Week Ago</small>
                                    </p>
                                    <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
                                        <i class="fa fa-circle-o"></i>
                                    </span>
                                </a>
                                <a href="javascript:;" class="single-mail">
                                    <span class="icon bg-danger">
                                        <i class="fa fa-warning"></i>
                                    </span>
                                    <strong>Server Failed Notification</strong>

                                    <p>
                                        <small>10 Days Ago</small>
                                    </p>
                                    <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
                                        <i class="fa fa-circle"></i>
                                    </span>
                                </a>

                            </div>
                        </div>
                    </div>
                </li>
                <!--notification info end-->
                </ul>
                </div>
                <!--left notification end-->


                <!--right notification start-->
                <div class="right-notification">
                    <ul class="notification-menu">
                        <li>
                            <form class="search-content" action="homePage.html" method="post">
                                <input type="text" class="form-control" name="keyword" placeholder="Search...">
                            </form>
                        </li>

                        <li>
                            <a href="javascript:;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="{% static "images/avatar-mini.jpg"%}" alt="">{{ user.display_name }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu purple pull-right">
                                <li><a href="/profile/{{ user.id}}">  Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-danger pull-right">40%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="label bg-info pull-right">new</span>
                                        Help
                                    </a>
                                </li>
                                <li><a href="/logout/"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
{% comment %}                        <li>
                            <div class="sb-toggle-right">
                                <i class="fa fa-indent"></i>
                            </div>
                        </li>{% endcomment %}

                    </ul>
                </div>
                <!--right notification end-->
                </div>

            </div>
            <!-- header section end-->

            <!-- page head start-->
            <div class="page-head">
                <h3>
                    {{ template_title }}
                </h3>
                <span class="sub-title">Welcome to  {{ template_title }}</span>
            </div>
            <!-- page head end-->

            <div id="content">

                    {% block content %}

                    {% endblock %}

            </div>


            <!--footer section start-->
            <footer>
                2015 &copy; J&D Helpdesk by J&D IT Solutions.
            </footer>
            <!--footer section end-->
        </div>
        <!-- body content end-->
    </section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{% static "js/jquery-1.10.2.min.js"%}"></script>
<script src="{% static "js/jquery-migrate.js"%}"></script>
<script src="{% static "js/bootstrap.min.js"%}"></script>
<script src="{% static "js/modernizr.min.js"%}"></script>

<!--Nice Scroll-->
<script src="{% static "js/jquery.nicescroll.js"%}" type="text/javascript"></script>

<!--right slidebar-->
<script src="{% static "js/slidebars.min.js"%}"></script>

<!--switchery-->
<script src="{% static "js/switchery/switchery.min.js"%}"></script>
<script src="{% static "js/switchery/switchery-init.js"%}"></script>

<!--Sparkline Chart-->
<script src="{% static "js/sparkline/jquery.sparkline.js"%}"></script>
<script src="{% static "js/sparkline/sparkline-init.js"%}"></script>

    <!--Data Table-->
<script src="{% static "js/data-table/js/jquery.dataTables.min.js"%}"></script>
<script src="{% static "js/data-table/js/dataTables.tableTools.min.js"%}"></script>
<script src="{% static "js/data-table/js/bootstrap-dataTable.js"%}"></script>
<script src="{% static "js/data-table/js/dataTables.colVis.min.js"%}"></script>
<script src="{% static "js/data-table/js/dataTables.responsive.min.js"%}"></script>
<script src="{% static "js/data-table/js/dataTables.scroller.min.js"%}"></script>
<!--data table init-->
<script src="{% static "js/data-table-init.js"%}"></script>

<script type="text/javascript" src="{% static "js/bootstrap-wysihtml5/wysihtml5-0.3.0.js"%}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"%}"></script>

    <!--form validation-->
<script src={% static "js/jquery.validate.min.js"%} type="text/javascript"></script>

    <!--form validation init-->
<script src="{% static "js/form-validation-init.js"%}"></script>

    <!--Icheck-->
<script src="{% static "js/icheck/skins/icheck.min.js"%}"></script>

<!--common scripts for all pages-->
<script src="{% static "js/scripts.js"%}"></script>

<script src="{% static "js/gmaps-init.js"%}"></script>
<script type="text/javascript" src="{% static "http://maps.google.com/maps/api/js?sensor=true"%}"></script>
<script src="{% static "js/gmaps.js"%}"></script>
<script src="{% static "js/site.js" %}"></script>
<script src={% static "js/dragging-calendar-event-init.js"%}></script>
<script src={% static "js/fullcalendar/fullcalendar.min.js"%}></script>
<link href="{% static "js/fullcalendar/bootstrap-fullcalendar.css"%}" rel="stylesheet">

    <!--bootstrap-wysihtml5-->
<script type="text/javascript" src={% static "js/bootstrap-wysihtml5/wysihtml5-0.3.0.js"%}></script>
<script type="text/javascript" src={% static "js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"%}></script>

<!--summernote-->
<script src={% static "js/summernote/dist/summernote.min.js" %}></script>

</body>
</html>
