
{% extends "main_template.html" %}

{% block content %}
<!--body wrapper start-->
            <div class="wrapper no-pad">

            <div class="profile-desk">
{% load static from staticfiles %}

            </aside>
            <aside class="p-short-info">
                <div class="widget">
                    <div class="title">
                        <h1>Team Members</h1>
                    </div>
                </div>
                <div class="widget">
                    <div class="title">
                        <h1>About</h1>
                    </div>
                    <p class="mbot20">Hello I am {{ user.username}} a web and user interface designer. I love to work with the application interface and the web elements.
                    </p>
                    <div class="bio-row">
                        <p><span>Email</span> {{ user.email }}</p>
                    </div>
                    <div class="bio-row">
                        <p><span> Date Joined</span> {{ user.date_joined }}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Role</span>
                            {% if user.is_superuser == True%}
                                    Admin
                                    {% else%}
                                    Customer
                                </p>
                    </div>

                                <a href="/profile_edit/{{ user.id }}/" data-toggle="modal" class="btn btn-primary mtop10">Read More</a>

                </div>
                {% endif %}

                <div class="widget">
                    <div class="title">
                        <h1 class="pull-left">Performance</h1>
                        <a href="#" class="pull-right v-all"> View All </a>
                    </div>
                    <ul class="p-list">
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Total Ticket Raised  <span class="pull-right">{{ leng }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o"></i>  Total Ticket Resolved  <span class="pull-right">{{ leng }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o"></i>  Total KPI   <span class="pull-right"></span>
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="widget">
                    <div class="title">
                        <h1 class="pull-left">Work Progress</h1>
                        <a href="#" class="pull-right v-all"> View All </a>
                    </div>
                    <div class="sale-monitor work-progress">
                        <div class="states">
                            <div class="info">
                                <div class="desc pull-left">Theme Forest</div>
                                <div class="percent pull-right">70%</div>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">40% </span>
                                </div>
                            </div>
                        </div>
                        <div class="states">
                            <div class="info">
                                <div class="desc pull-left">Graphics River</div>
                                <div class="percent pull-right">45%</div>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                    <span class="sr-only">45% </span>
                                </div>
                            </div>
                        </div>
                        <div class="states">
                            <div class="info">
                                <div class="desc pull-left">Code Canyon</div>
                                <div class="percent pull-right">35%</div>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                                    <span class="sr-only">35% </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="widget">
                    <div class="twt-feed">
                        <img src="img/img1.jpg" alt=""/>
                        <h2><a href="#">kanye West</a></h2>
                        <p>Creative process: drawing some small <a href="#">@macicon</a> via <a href="#">pic.twitter.com/Vm8v9xvj</a></p>
                    </div>

                </div>

            </aside>
            </div>

            </div>
            <!--body wrapper end-->
    <!-- Modal -->
              <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forgotPass" class="modal fade">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">Assign {{ user.username }} to agent ?</h4>
                          </div>
                      <form class="form-signin" id="signupForm" method="post" action="/profile/{{ user.id }}/" method="post">{% csrf_token %}
                          {% for field in forms %}
                            <div class="fieldWrapper">
                            {{ field }} {% for error in field.errors %}<error>{{ error|escape }}</error> {% endfor %}
                            </div>
                            {% endfor %}
                          <button class="btn btn-primary mtop10" type="submit">Assign</button>
                      </form>
                      </div>
                  </div>
              </div>
              <!-- modal -->
{% endblock %}
