{% extends "login_template.html" %}
{% block content %}
<div class="container log-row">
          <form class="form-signin" id="signupForm" method="post" action="/registration/">{% csrf_token %}
              <p>Enter your personal details below</p>

          {% for field in forms %}
        <div class="fieldWrapper">
        {{ field }} {% for error in field.errors %}<error>{{ error|escape }}</error> {% endfor %}
        </div>
            {% endfor %}

              <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>

              <div class="registration m-t-20 m-b-20">
                  Already Registered.
                  <a class="" href="/login/">
                      Login
                  </a>
              </div>
          </form>
      </div>

{% endblock %}