{% extends "login_template.html" %}
{% block content %}
<div class="container log-row">
          <form class="form-signin" id="signupForm" method="post" action="/resetPassword/">{% csrf_token %}
              <p>Enter your username to reset your password !</p>

          {% for field in r_form %}

        <div class="fieldWrapper">
        {{ field }} {% for error in field.errors %}<error>{{ error|escape }}</error> {% endfor %}
        </div>
            {% endfor %}
              <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>

          </br>

          <div class="registration">
            Don't have an account yet?
            <a class="" href="/registration/">
                Create an account
            </a>
        </div>
          </form>



</div>

{% endblock %}