{% extends 'main_template.html' %}
{% load humanize %}
{% block content %}


    <div class="container-fluid">
	<div class="row">
        {% for item in userR %}
                 {% for item2 in item.ticket %}
                     {% if item2.ticket_number == ticket_id%}
                    <form class="form-horizontal" action="/ticket_details/{{ ticket_id }}/" method="post">{% csrf_token %}
<fieldset>

<!-- Form Name -->
    <legend>Requester Details</legend>
    <div class="row">
        <label class="col-md-2 control-label" for="textinput">Requester Name</label>
          <div class="col-md-3">
              <input class="form-control" id="disabledInput" type="text" placeholder="" value="{{ item.username }}" disabled>
          </div>
    </div>
    </br>
     <div class="row">
        <label class="col-md-2 control-label" for="textinput">E-Mail</label>
          <div class="col-md-2">
              <input class="form-control" id="disabledInput" type="text" placeholder="" value="{{ item.email }}" disabled>
          </div>

          <label class="col-md-2 control-label" for="textinput">Contact Number</label>
          <div class="col-md-2">
          <input class="form-control" id="disabledInput" type="text" placeholder="" value="{{ item.contact_number }}" disabled>
          </div>
    </div>
    <legend>Agent Details</legend>
    <div class="row">
        <label class="col-md-2 control-label" for="textinput">Requester Name</label>
          <div class="col-md-3">
              <input class="form-control" id="disabledInput" type="text" placeholder="" value=" {{ item2.agent.username }}" disabled>

          </div>
    </div>
    </br>
     <div class="row">
        <label class="col-md-2 control-label" for="textinput">E-Mail</label>
          <div class="col-md-2">
          <input class="form-control" id="disabledInput" type="text" placeholder="" value=" {{ item2.agent.email }}" disabled>
          </div>

          <label class="col-md-2 control-label" for="textinput">Contact Number</label>
          <div class="col-md-2">
          <input class="form-control" id="disabledInput" type="text" placeholder="" value=" {{ item2.agent.contact_number }}" disabled>
          </div>
    </div>
    </br>

<legend>Request Details</legend>

<!-- Text input-->
    <div class="row">
        <label class="col-md-2 control-label" for="textinput">Ticket ID</label>
          <div class="col-md-4">
          <input class="form-control" id="disabledInput" type="text" placeholder="" value=" {{ item2.ticket_number }}" disabled>
          </div>
    </div>
    </br>
    <div class="row">
        <label class="col-md-2 control-label" for="textinput">Subject</label>
          <div class="col-md-4">
           <input class="form-control" id="disabledInput" type="text" placeholder="" value=" {{ item2.subject }}" disabled>
          </div>
    </div>
    </br>
    <div class="row">
        <label class="col-md-2 control-label" for="textarea">Description</label>
          <div class="col-md-5">
           <input class="form-control" id="disabledInput" type="text" placeholder="" value=" {{ item2.description }}" disabled>
          </div>
    </div>

    </br>

    <div class="row">

      <label class="col-md-2 control-label" for="selectbasic">Request Type</label>
      <div class="col-md-2">
        {{ forms.request_type }}
      </div>

        <label class="col-md-1 control-label" for="selectbasic">Status</label>
      <div class="col-md-2">
       {{ forms.status }}
      </div>
    </div>
    </br>
    <div class="row">
    <label class="col-md-2 control-label" for="selectbasic">Impact</label>
      <div class="col-md-2">
        {{ forms.impact }}
      </div>

        <label class="col-md-1 control-label" for="selectbasic">Urgency</label>
      <div class="col-md-2">
        {{ forms.urgency }}
      </div>
    </div>
    </br>
    <div class="row">
        <label class="col-md-2 control-label" for="selectbasic">Mode</label>
      <div class="col-md-2">
        {{ forms.agent }}
      </div>
          <label class="col-md-1 control-label" for="selectbasic">Technical Team</label>
      <div class="col-md-2">
        {{ forms.team }}
      </div>
    </div>
    </br>
      <div class="row">
        <label class="col-md-2 control-label" for="textarea">Public Log</label>
          <div class="col-md-5">
              {{ forms.public_log }}
          </div>

      </div>
    </br>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-2 control-label" for="button1id"></label>
  <div class="col-md-8">
    <button id="button1id" name="button1id" class="btn btn-success" type="submit">Submit</button>
    <button id="button2id" name="button2id" class="btn btn-danger" type="reset">Cancel</button>
  </div>
</div>

</fieldset>
</form>
                     {% endif %}
                 {% endfor %}
        {% endfor%}

{% endblock %}

<script>
    jQuery(document).ready(function(){
        $('.wysihtml5').wysihtml5();
        $('.summernote').summernote({
            height: 200,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                 // set focus to editable area after initializing summernote
        });
    });
</script>