{% extends 'user_template.html' %}
{% load humanize %}
{% block content %}


    <div class="container-fluid">
	<div class="row">
        {% for item in userR %}
            {% for item2 in item.ticket %}
                {% if item2.ticket_number == ticket_id%}
		            <div class="col-md-8">
			            <h1>
				            {{ item2.subject }}
			            </h1>
                        <div id="node-content-region">
                            <div id="node-content">
                                <span property="dc:title" content="Can't install the WP Biz theme" class="rdf-meta element-hidden"></span>
                                <span property="sioc:num_replies" content="7" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                <div class="node-information">
    <h1 class="ticket-title">Ticket: <span class="themecolor-text">#{{ item2.ticket_number }}</span> - {{ item2.subject }}</h1>
   <i class="fa fa-clock-o"></i> Send by <span rel="sioc:has_creator"><span class="username" xml:lang="" about="/drupal7/helpdesk/users/martina" typeof="sioc:UserAccount" property="foaf:name" datatype="">{{ item2.user.username }}</span></span> {{ item2.created_date_time|naturaltime }}
  </div>

  <div>

    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded">
        {{ item2.description }}
    </div>
        </br>
        <h2>
            Public Log:
        </h2>


    <div class="row">
    <div class="col-lg-8 col-sm-8 col-xs-12">
    <h4 id="addComment">Leave a Comment:</h4>
    <hr>
        {% for item3 in item2.log %}
            <ul class="media-list comments">
              <li class="media">
                <a class="pull-left" href="#">
                <img class="media-object img-circle img-thumbnail" src="http://snipplicious.com/images/guest.png" width="64" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                  <h4 class="media-heading pull-left">{{ item3.agent_id }}</h4>
                  <div class="comment-info pull-left">
                    <div class="btn btn-default btn-xs"><i class="fa fa-clock-o"></i> Posted {{ item3.log_created_date|naturaltime }}</div>
                  </div>
                  <br class="clearfix">
                  <p class="well">{{ item3.public_log }}</p>
                </div>
              </li>
            </ul>
        {% endfor %}
  </div>
</div>
    </div>
    </div>
  </div>
  </div>


  </div>
		</div>
		<div class="col-md-4">
			<h1 class="text-danger">
				Ticket Info
			</h1>
			<h3>
				{{ item2.status }}
			</h3>

			<div class="views-field views-field-nid">
				<span class="views-label views-label-nid">Ticket Id:</span> <strong>{{ item2.ticket_number }}</strong>
			</div>
			<div class="views-field views-field-case-priority-id">
				<span class="views-label views-label-case-priority-id">Impact:</span> <span class="field-content">{{ item2.impact }}</span>
			</div>
			<div class="views-field views-field-case-type-id">
				<span class="views-label views-label-case-type-id">Urgency:</span> <span class="field-content">{{ item2.urgency }}</span>
			</div>
			<div class="views-field views-field-last-comment-timestamp">
				<span class="views-label views-label-last-comment-timestamp">Last change:</span> <span class="field-content"><em class="placeholder">{{ item2.last_change_date|naturaltime }}</em></span>
			</div>
             <strong><hr class="style18" color="red"></strong>
            <h1 class="text-danger">
				Requester Info
			</h1>

             <div class="views-field views-field-nid">
				<span class="views-label views-label-nid">Client :</span> <strong>{{ item2.user.username }}</strong>
			</div>
			<div class="views-field views-field-case-priority-id">
				<span class="views-label views-label-case-priority-id">Name:</span> <span class="field-content">{{ item2.user.display_name }}</span>
			</div>
			<div class="views-field views-field-case-type-id">
				<span class="views-label views-label-case-type-id">Email:</span> <span class="field-content">{{ item2.email }}</span>
                         <strong><hr class="style18" color="red"></strong>
            <h1 class="text-danger">
				Agent Info
			</h1>

             <div class="views-field views-field-nid">
				<span class="views-label views-label-nid">Agent :</span> <strong>{{ item2.agent.username }}</strong>
			</div>
			<div class="views-field views-field-case-type-id">
				<span class="views-label views-label-case-type-id">Email:</span> <span class="field-content">{{ item2.agent.email }}</span>
			</div>
            <div class="views-field views-field-case-type-id">
				<span class="views-label views-label-case-type-id">Agent ID:</span> <span class="field-content">{{ item2.agent.agent_id }}</span>
			</div>
            <div class="views-field views-field-case-type-id">
				<span class="views-label views-label-case-type-id">Team:</span> <span class="field-content">{{ item2.agent.team }}</span>
			</div>
            </div>
                     {% endif %}
                 {% endfor %}

            {% endfor%}
		</div>
	</div>
</div>


{% endblock %}

<script>

    jQuery(document).ready(function(){
        $('.wysihtml5').wysihtml5();

        $('.summernote').summernote({
            height: 200,                 // set editor height

            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor

            focus: true                 // set focus to editable area after initializing summernote
        });
    });

</script>
